<form method="post" action="{{ path('app_contact_message_delete', {'id': contact_message.id}) }}" onsubmit="return confirm('Supprimer ce message?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_message.id) }}">
    <button class="btn btn-transparent">Supprimer</button>
</form>
