{% extends 'layout/website.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">Inscription</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="contact-section">
            <div class="container">
                <div class="row">
                    <!-- Contact Form -->
                    <div class="contact-form col-md-12" >

                        {{ form(registerForm) }}

                        <p class="mt-20 text-center">Déja un compte ?<a href="{{ url('app_login') }}"> Se connecter </a>

                    </div>

                    <!-- ./End Contact Form -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </section>

{% endblock %}