{% extends 'layout/basic.html.twig' %}

{% block content %}

    <section class="signin-page account dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="block">

                        <h2 class="text-center">Créer votre compte</h2>
                        {{ form(registerForm) }}

                        <p class="mt-20">Déja un compte ?<a href="{{ url('app_login') }}"> Se connecter </a></p>
{#                        <p><a href="forget-password.html"> Forgot your password?</a></p>#}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}