{% extends 'layout/hospital.html.twig' %}
{% block content %}

<section class="page-wrapper ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="{{ asset('images/PhotoAdminUserHome.jpg') }}" alt="photo accueil utilisateur">
            </div>
            <div class="col-md-6">
                <div class="title text-center">
                    <h2 class="blue"> Bienvenue {{ app.user.name }} {{ app.user.firstname }}</h2>
                </div>
                <div class="text-justify padding">
                    <p class="about">Nous vous rappelons que notre objectif est de promouvoir vos annonces auprès de notre réseau de médecins.</p>
                    <p class="about">VacansCuRa vous contactera dès qu'une de vos annonces rencontre les exigences d'un médecin.</p>
                    <p class="about">Pour la moindre question, n'hésitez pas à nous <button class="btn btn-transparent"><a href="{{ path('contact') }}">contacter</a> </button> </p>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}