{% extends 'layout/hospital.html.twig' %}
{% block content %}

<section class="page-wrapper ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="{{ asset('images/PhotoUserAdminHome.jpg') }}" alt="photo accueil utilisateur">
            </div>
            <div class="col-md-6">
                <div class="title text-center">
                    <h2 class="blue"> Bienvenue {{ app.user.username }}</h2>
                </div>
                <div class="text-center">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}