{% extends 'layout/user.html.twig' %}

{% block content %}

   <section class="page-wrapper ">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="{{ asset('images/PhotoAdminUserHome.jpg') }}" alt="photo accueil utilisateur">
            </div>
            <div class="col-md-6">
               <div class="title text-center">
                  <h2 class="blue"> Bienvenue {{ app.user.job}} {{ app.user.name }}</h2>
               </div>
               <div class="text-justify padding">
                  <p class="about">Nous vous rappelons que notre objectif est de vous mettre en relation avec des hôpitaux à la recherche de profil comme le vôtre afin de compléter leur équipe de manière ponctuelle. </p>
                  <p class="about"> Dès qu'une annonce rencontre vos exigences, cliquez sur "postuler" et remplissez le formulaire.</p>
                  <p class="about"> Medec'Im vous mettre en contact avec l'hôpital demandeur.</p>
                  <p class="about">Ne manquez pas de spécifier l' <span>Id de l'annonce</span> au cours de vos échanges.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}