{% extends 'layout/website.html.twig' %}

{% block content %}
    <section class="page-wrapper ">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img  class="img-responsive" src="{{ asset('images/PhotoAbout.jpg') }}" alt="coucou">
                </div>
                <div class="col-md-6">

                    <div class="title text-center">
                        <h3 class="blue">About Us</h3>
                    </div>

                    <div class="text-center">
                    <p>expliquer le principe du site et le fonctionnement </p>
                    </div>
                </div>

            </div>
        </div>

    </section>


{% endblock %}