{% extends 'layout/website.html.twig' %}

{% block content %}
    <section class="page-wrapper ">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="{{ asset('images/PhotoAbout.jpg') }}" alt="coucou">
                </div>
                <div class="col-md-6">

                    <div class="title text-center about-text">
                        <h1 class="blue">Qui sommes nous ?</h1>
                    </div>
                    <div class="text-justify padding">
                        <p class="about">Medec’Im est un FACILITATEUR au service des soins de santé.
                            Nous permettons aux médecins et aux Hôpitaux de se rejoindre en vue d’assurer la continuité
                            et la qualité des soins.</p>

                        <p class="about">Selon leurs besoins, les hôpitaux proposent les plages horaires pour lesquelles ils sont à la
                            recherche d'un médecin.</p>
                        <p class="about">Selon leurs disponibilités, les médecins choisissent les plages horaires durant lesquelles
                            ils souhaitent pratiquer.
                        </p>
                    </div>

                </div>

            </div>
        </div>

    </section>


{% endblock %}