{% extends 'layout/website.html.twig' %}

{% block content %}
    <section class="page-wrapper ">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="{{ asset('images/PhotoAbout.jpg') }}" alt="photo pour page à propos">
                </div>
                <div class="col-md-6">

                    <div class="title text-center">
                        <h1 class="blue">Qui sommes nous ?</h1>
                    </div>
                    <div class="text-justify padding">
                        <p class="about">Medec’Im est un <span>FACILITATEUR</span> au service des soins de santé.
                            Nous permettons aux Hôpitaux de soumettre des annonces en vue de trouver le médecin qui leur pemettra d'assurer la continuité
                            et la qualité des soins.</p>

                        <p class="about">Selon leurs besoins, les <span>hôpitaux</span> proposent les plages horaires pour lesquelles ils sont à la
                            recherche d'un médecin.</p>
                        <p class="about">Selon leurs disponibilités, les <span>médecins</span> choisissent les plages horaires durant lesquelles
                            ils souhaitent pratiquer.
                        </p>
                    </div>

                </div>

            </div>
        </div>

    </section>


{% endblock %}