{% extends 'layout/website.html.twig' %}

{% block content %}
    <section class="page-wrapper grey">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img  class="img-responsive" src="{{ asset('images/image12.jpg') }}" alt="coucou">
                </div>
                <div class="col-md-6">

                    <div class="title text-center">
                        <h3>About Us</h3>
                    </div>

                    <div class="text-center">
                    <p>expliquer le principe du site et le fonctionnement </p>
                    </div>
                </div>

            </div>
        </div>

    </section>


{% endblock %}