{% extends 'layout/website.html.twig' %}

{% block content %}
    <section class="page-wrapper ">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img  class="img-responsive" src="{{ asset('images/PhotoAbout.jpg') }}" alt="coucou">
                </div>
                <div class="col-md-6">

                    <div class="title text-center">
                        <h3 class="blue">About Us</h3>
                    </div>
                        <h5 class="title">
                                Nous avons créé ce site pour répondre à deux demandes:
                        </h5>

                                <p>Compléter une équipe médical afin de permettre aux hôpitaux de maintenir une activité et une qualité de soin.
                                    Ils peuvent dès lors nous proposer des plages horaires afin de maintenir un nombre suffisant de médecins.
                                </p>
                                <p>Permettre à certains médecins de compléter leur temps de travail par de l'intérim dans nos différents hôpitaux partenaires et en fonction de leurs compétences.</p>

                </div>

            </div>
        </div>

    </section>


{% endblock %}