{% extends 'layout/basic.html.twig' %}

{% block content %}

    <section class="page-wrapper dark">
        <div class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="title text-center white">
                        <h2>Contact</h2>
                    </div>
                    <!-- Contact Form -->
                    <div class="contact-form col-md-12 background-white" >

                                {{ form(contactMessageForm) }}
                    </div>

                    <!-- ./End Contact Form -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </section>

{% endblock %}