{% extends 'layout/basic.html.twig' %}

{% block content %}

        <section class="product-category section grey">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <div class="title text-center">
                           <h2>Bienvenue </h2>
                       </div>

                       <div class="col-md-6">
                           <div class="category-box category-box-2">
                              <img src="{{ asset("images/image12.jpg") }}" alt="coucou">
                           </div>
                       </div>

                       <div class="col-md-6">
                           <div class="text-center">
                           <h3>titre </h3>
                           <p>Mettre texte ici</p>
                           </div>
                       </div>

                   </div>
               </div>
           </div>
        </section>



{% endblock %}