{% extends 'layout/basic.html.twig' %}

{% block content %}

    <section class="page-wrapper dark">
       <div class="container">
           <div class="row">
           <div class="col-md-6">
             <img  class="img-responsive" src="{{ asset('images/image14.jpg') }}">
               </div>
           <div class="col-md-6">
               <div class="title text-center white">
               <h2>Bienvenue</h2>
               </div>
               <div class="text-center">
                   <p>Vous voulez aider notre équipe alors venez nous rejoindre </p>
               </div>
           </div>
       </div>
       </div>
    </section>


{% endblock %}