{% extends 'layout/basic.html.twig' %}

{% block content %}

    <section class=" page-404 grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-center ">Merci pour votre message</h2>
                    <h4 class="title text-center ">Nous traiterons votre message dans les plus bref délais</h4>

                    <a href ="{{ url('home') }}" class="btn btn-main"><i class="tf-ion-android-arrow-back"></i> Go Home</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

