<form method="post" action="{{ path('app_hospital_delete', {'id': hospital.id}) }}" onsubmit="return confirm('Supprimer cet hôpital?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hospital.id) }}">
    <button class="btn btn-transparent">Supprimer</button>
</form>
