<form method="post" action="{{ path('app_admin_message_delete', {'id': admin_message.id}) }}" onsubmit="return confirm('Supprimer ce message ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin_message.id) }}">
    <button class="btn btn-transparent">Supprimer</button>
</form>
