{% extends 'layout/hospital.html.twig' %}

{% block content %}

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Supprimer l'annonce</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="{{ asset('images/PhotoDeleteMessage.jpg') }}" alt="photo pour supprimer les annonces">
                    </div>
                    <!-- Contact Form -->
                    <div class="contact-form col-md-6 space" >
                        <h4 class="padding text-center"> Merci de bien noter l'id repris sur l'annonce</h4>
                        {{ form(deleteMessageForm) }}
                    </div>
                    <div class="text-right">
                    <button class="btn btn-main btn-small btn-round mini-padding align"><a class="white" href="{{url('app_hourly_hospital_index') }}">Retour</a></button>
                    </div>


                    <!-- ./End Contact Form -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </section>

{% endblock %}