<form method="post" action="{{ path('app_hourly_delete', {'id': hourly.id}) }}" onsubmit="return confirm('Supprimer cette annonce?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hourly.id) }}">
    <button class="btn btn-transparent">Supprimer</button>
</form>
