{% extends 'layout/user.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Modifier votre profil</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="signin-page account">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="block">

                            {{ include('pages/users/user_profile/_form.html.twig', {'button_label': 'Update'}) }}
                        <button class="btn btn-transparent"><a href="{{ path('app_user_profile_index') }}">Retour</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

