{% extends 'layout/user.html.twig' %}

{% block content %}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name"> Modifier votre photo de profil</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="signin-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block">

                    {{ form(EditPhotoForm) }}
                    <a href="{{ path('app_user_profile_index') }}">Retour</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
