{% extends 'layout/user.html.twig' %}

{% block content %}

<section class="signin-page account dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block">

                    {{ form(EditPhotoForm) }}
                    <a href="{{ path('app_user_profile_index') }}">Retour</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
